@model List<ProgerBlog.WEB.Models.PostViewModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
   
    function OnFailure(request, error) {
        $("#results").html("За даним запитом нічого не знайдено"+ error);
    }

</script>

@section Header{
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/Content/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Блог програміста</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-10  col-md-10 mx-auto">
            <div id="results">
                @Html.Partial("PostSearch")
            </div>
         </div>
        <div class="col-lg-2 col-sm-2 col-md-1 mx-auto">

            @using (Ajax.BeginForm("PostSearch", new AjaxOptions { UpdateTargetId = "results", OnFailure = "OnFailure" }))
            {
                    <input type="text" name="name" />
                    <input type="submit" value="Пошук" />
            }

            <br />

                @foreach (string s in ViewBag.Categories)
                {
                    <div class="sidebar-module">

                        @Ajax.ActionLink(s, "PostCategory", new { category = s }, new AjaxOptions { UpdateTargetId = "results" , OnFailure = "OnFailure" })
                        
                    </div>
                }
        <br />


         </div>
     </div>
</div>